@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "roca-two";
  src: url("/public/roca-two-bold.ttf");
}

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

body {
  background-color: #393e46;
  color: #fff;
}

.logo {
  font-family: "roca-two", serif;
  font-size: 2rem;
}

/* 리액트 캘린더 css 설정 */
/* 네비게이션 폰트 설정 */
.react-calendar__navigation button {
  @apply font-bold;
}

/* 네비게이션 비활성화 됐을때 스타일 */
.react-calendar__navigation button:disabled {
  @apply rounded border-none;
}

/* 요일 밑줄 제거 */
.react-calendar__month-view__weekdays abbr {
  text-decoration: none;
  font-weight: 800;
}

/* 일요일에만 빨간 폰트 */
.react-calendar__month-view__weekdays__weekday--weekend abbr[title="일요일"] {
  @apply text-red-500;
}

/* 오늘 날짜 폰트 컬러 */
.react-calendar__tile--now {
  abbr {
    @apply text-primary;
  }
}

/* 네비게이션 월 스타일 적용 */
.react-calendar__year-view__months__month {
}
